<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
	<router id="admin">
		<route frontName="fulloop_pricebot" id="fulloop_pricebot">
			<module before="Magento_Backend" name="Fulloop_Pricebot"/>
		</route>
	</router>
</config>
