@media (max-width: 1199px) {
	.footer-block-newsletter .footer-block__heading{
	    font-size: 2.5rem;
	}
	.block-subscribe-footer .newsletter-content .action-button button{
		padding: 0 15px;
	}
}
@media (max-width: 480px) {
	.block-subscribe-footer .newsletter-content .action-button button{
		padding: 0 10px;
	}
	.footer-block-newsletter .footer-block__heading{
		font-size: 2.5rem;
	}
	.block-footer {
		margin-bottom: 40px;
	}
}
@media (max-width: 767px) {
	.footer-bottom .payment-footer,.footer-bottom address{
		text-align: center;
	}
}

