<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="customer_register_success">
        <observer instance="Fulloop\Customers\Observer\Customer\RegisterSuccess" name="fulloop_customers_observer_customer_registersuccess_customer_register_success"/>
    </event>
    <event name="customer_save_after_data_object">
        <observer instance="Fulloop\Customers\Observer\Customer\AccountEdited" name="fulloop_customers_observer_customer_registersuccess_customer_account_edited"/>
    </event>
</config>
