/**
 * Bonus title page
 */

.bonus-title {
    position: relative;
    margin-bottom: 30px;
	text-align:center;
	line-height: 24px;
    strong {
        font-size: 3.6rem;
        color: #000;
        font-weight: normal;
    }
}
/**
 * About us
 */
body.cms-about-us {
	.breadcrumbs{
		margin-bottom: 50px;
	}
	
	.page-main {
		padding: 0;
		width: 100%;
		max-width: unset;
		.block-statistic .item-inn {
			border-radius: 30px;
			color: #fff;
			padding: 26px 20px;
			text-align: center;
			.js-counter, .suffix{
				font-size: 50px;
				text-transform: uppercase;
				color: #fff;
				font-weight: 700;
				text-align: center;
			}
			p{
				font-size: 14px;
				line-height: 24px;
				text-transform: uppercase;
				color: #fff;
				margin-top: 3px;
				text-align: center;
				margin-bottom: 10px;
			}
		}
		.des-statistics {
			text-align: center;
			padding: 0 100px;
			color: #444;
			font-size: 14px;
			p {
				margin-bottom: 40px;
				line-height: 24px;
			}
		}
		.signature img {
			margin: 50px auto 0;
			display: table;
		}
		}
}
.progress-bar {
	 position: relative;
	 height: 200px;
	 width: 200px;
}
 .progress-bar div {
	 position: absolute;
	 height: 200px;
	 width: 200px;
	 border-radius: 50%;
}
 .progress-bar div span {
	 position: absolute;
	 font-family: Arial;
	 font-size: 25px;
	 line-height: 175px;
	 height: 175px;
	 width: 175px;
	 left: 12.5px;
	 top: 12.5px;
	 text-align: center;
	 border-radius: 50%;
	 background-color: #fff;
}
 .progress-bar .background {
	 background-color: #fff !important;
}
 .progress-bar .rotate {
	 clip: rect(0 100px 200px 0);
	 background-color: #4b86db;
}
 .progress-bar .left {
	 clip: rect(0 100px 200px 0);
	 opacity: 1;
	 background-color: #b3cef6;
}
 .progress-bar .right {
	 clip: rect(0 100px 200px 0);
	 transform: rotate(180deg);
	 opacity: 0;
	 background-color: #4b86db;
}
 @keyframes toggle {
	 0% {
		 opacity: 0;
	}
	 to {
		 opacity: 1;
	}
}
 
.block-skill .item {
	text-align: center;
	.sk-title{
	    font-size: 24px;
		line-height: 32px;
		color: #000;
		font-weight: 700;
		margin-bottom: 23px;
	}
	.sk-persent .sk-inner.progress-bar {
		display: inline-block;
		height: 170px;
		width: 170px;
		div {
			height: 170px;
			width: 170px;
			span {
				line-height: 160px;
				height: 160px;
				width: 160px;
				left: 5px;
				top: 5px;
				background-color: #fff;
				font-size: 40px;
				text-transform: uppercase;
				font-weight: 700;
				font-family: inherit;
			}
		}
	}
	.sk-des {
		margin-top: 18px;
		font-size: 15px;
		line-height: 25px;
		color: #444;
	}
}
.block-ourteam {
	.box-title h3{
		font-size: 30px;
		line-height: 40px;
		font-weight: 700;
		text-transform: capitalize;
		color: #000;
		margin-bottom: 30px;
	}
	.item {
		.item-inn {
			position: relative;
			transition: all .3s ease-in-out 0s;
			overflow: hidden;
			border: 2px solid #f5f5f5;
			border-radius: 20px;
			padding: 20px;
			.cl-title {
				font-size: 18px;
				color:#000;
				font-weight: 700;
				margin: 15px 0 6px;
			}
			.cl-job {
				font-size: 13px;
				color: #888;
				text-transform: uppercase;
			}
			.cl-des {
				font-size: 13px;
				color: #888;
				border-top: 1px solid #eeeeee;
				padding-top: 15px;
				margin: 15px 0;
			}
		}
		ul.social-f {
			padding:0;
			margin:0;
			display: flex;
			flex-wrap: wrap;
			justify-content: start;
			li {
				margin-right: 5px;
				list-style:none;
				a {
					width: 44px;
					height: 44px;
					background-color: #f5f5f5;
					line-height: 44px;
					padding: 0;
					text-align: center;
					border-radius: 50%;
					display: block;
					transition: all .3s ease-in-out 0s;
					color: #888;
				}
			}
		}
	}
}
.cms-about-us .block-testimonials {  
	.block-title strong{
		font-size: 30px;
		line-height: 40px;
		font-weight: 700;
		text-transform: capitalize;
		color: #000;
		margin-bottom: 30px;
	}
	.block-content {
		 .border-radius(25px);
		 padding: 0;
		.item{
			display: flex;
			justify-content: space-between;
			border: 2px solid #f5f5f5;
			padding: 20px;
			border-radius: 25px;
			transition: all .3s ease-in-out 0s;
		}
	}
}
/**
 * Contact us
 */

.contact-us-container {
    .google-map {
        line-height: 0;
		 margin-bottom: 100px;
        iframe {
            width: 100%;
            height: 450px;
        }
    }
}
.contact-form-info {
	.box-title {
		text-align:center;
		margin: 0 0 30px;
		h5.sub-title{
			margin-bottom: 7px;
			font-size: 14px;
			line-height: 24px;
			text-transform: uppercase; 
			font-weight: 400;
		}
		h3{
			font-size: 50px;
			font-weight: 700;
			text-transform: capitalize;
			color: #000;
			margin-bottom: 10px;
		}
	}
}
.map iframe{
	.border-radius(20px);
    overflow: hidden;
	width: 100%;
}
.block-contact-form {
	padding:30px;
    height: 100%;
	.border-radius(20px);
    background-color: #f7f7f7;
    .form.contact {
        width: 100% !important;
        max-width: 100% !important;
    }
	.fieldset {
		 margin: 0  !important;
	}
    .field {
        margin: 0 0 20px !important;
        .label {
            float: none !important;
            width: 100% !important;
            display: block;
            margin: 0 0 5px 0 !important;
            padding: 0 !important;
            text-align: unset !important;
            font-weight: normal;
            color: #000;
        }

        .control {
            float: none !important;
            width: 100% !important;
            display: block;
            padding: 0 !important;
			input.input-text{
				height:48px;
			}
			input.input-text,textarea{
				background-color: #fff;
				border: 1px solid transparent;
				.border-radius(25px);
				font-size: 14px;
				color: #000;
				padding: 12px 20px;
				height: auto;
				&:focus{
					border-color:#111;
					color:#000;
				}
				&::placeholder{
                    color:#000;
				}
			}
        }
		&.telephone {
		    width: 100%;
			border: 0;
			display: block;
			padding-right: 0;
		}
    }

    .actions-toolbar {
        margin-left: 0 !important;
        margin-right: 0 !important;
        text-align: right;

        .primary {
            float: none;
			width:100%;
            button {
                font-size: 14px;
				text-transform: uppercase;
				height: 50px;
				padding: 0 18px;
				line-height: 50px;
				border: 0;
				.border-radius(25px);
				display: inline-block;
				width: 100%;
				color: #fff;
				font-weight: 400;
				margin-top: 0px;
				text-align: center;
				margin-bottom: 0;
            }
        }
    }
}
.list-info {
	margin-bottom: 80px;
	.item-info{
		padding: 48px 15px;
		text-align: center;
		border-radius: 20px;
		background-color: #fff;
		border: 2px solid #f7f7f7;
		.transition(all .3s ease-in-out 0s); 
		h4 {
			font-size: 30px;
			line-height: 40px;
			color: #000;
			font-weight: 700;
			margin-bottom: 5px;
		}
		.info-content {
			ul {
				padding:0px;
				margin:0px;
				li {
					list-style:none;
					font-size: 15px;
					line-height: 31px;
					color: #444;
					margin:0; 
				}
			}
		}
	}
}
.sm-notfound {
	text-align:center;
	p{
        font-size: 3rem;
        color: #000;
        margin: 50px 0;
	}
	a.back-home {
        height: 50px;
        background: #000;
        color: #fff;
        padding: 0 50px;
        line-height: 50px;
        display: inline-block;
	}
}
@media (min-width: 1200px) {
	.block-contact-form{
		 padding: 95px 110px 100px;
	}
}
@media (max-width: 767px) {
    .block-contact-form .field.email,
    .block-contact-form .field.telephone,
    .block-contact-form .field.name {
        max-width: unset;
    }
	.list-info .item-info {
		margin-bottom:30px;
	}
	.map{
		margin-top:30px;
	}
	
}
@media (max-width: 991px) {
	
	.contact-form-info .box-title h3 {
		font-size:24px !important; 
	}
	.block-ourteam .item .item-inn{
		padding: 12px;
	}
	body.cms-about-us .page-main .block-statistic .item-inn .js-counter, 
	body.cms-about-us .page-main .block-statistic .item-inn .suffix{
	    font-size: 35px;
	}
	body.cms-about-us .page-main .block-statistic .item-inn p{
		font-size: 11px;
	}
	body.cms-about-us .page-main .des-statistics{
	    padding: 0 20px;
	}
}
@media (min-width: 769px){
	.contact-index-index .column:not(.sidebar-additional) .form.contact {
		min-width: auto !important; 
	}
}
@media (max-width: 575px){
	body.cms-about-us .page-main .block-statistic .item-inn,
	.block-skill .item{
		margin-bottom:30px;
	}
	
	.cms-about-us .block-testimonials .block-content .item{
		display:block;
	}
}
