@media (min-width: 992px) and (max-width: 1340px){
	.horizontal-block .horizontal-menu .horizontal-megamenu-block .sm_megamenu_menu > li {
		margin-left: 15px;
		> a{
			font-size: 14px;
		}
	}
	
}
@media (min-width: 992px) and (max-width: 1500px){
	.header-bottom:after{
	    border-bottom-right-radius: 0;
		border-bottom-left-radius: 0;
		width:100%;  
	}
}
@media (min-width: 1200px){
	.cms-index-index  .vertical-menu-block .vertical-menu-content {
		display: block;
		opacity: 1;
		visibility: visible;
	}
	.cms-index-index .ontop-element.menu-on-top .vertical-menu-block .vertical-menu-content {
		display: none;
		.opacity(0);
		visibility: hidden;
	}
	.cms-index-index .ontop-element.menu-on-top .vertical-menu-block:hover .vertical-menu-content{
		display: block;
		opacity: 1;
		visibility: visible;
	}
	.enable-stickymenu .ontop-element.menu-on-top{
		background: #1b1a41;
		.menu-left.vertical_menu .vertical-menu-block{
		    background: rgba(255, 255, 255, 0.1);
			&:hover {
				background:#fff;
			}
		}
	}


}