.fotorama__stage {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 !important;
}

.sm_megamenu_head_item > .sm_megamenu_title > a {
    font-size:1.4rem !important;
    text-transform: capitalize !important;
    font-weight: unset !important;
    transition: all 0.2s;
}

.sm_megamenu_title > a:hover {
    color: #6d62ff !important;
    padding-left: 10px;
}
.sm_megamenu_firstcolumn {
    margin-bottom: 0px !important;
}
.sm_megamenu_wrapper_vertical_menu .sm_megamenu_menu .sm_megamenu_dropdown_1column, 
.sm_megamenu_wrapper_vertical_menu .sm_megamenu_menu .sm_megamenu_dropdown_2columns, 
.sm_megamenu_wrapper_vertical_menu .sm_megamenu_menu .sm_megamenu_dropdown_3columns, 
.sm_megamenu_wrapper_vertical_menu .sm_megamenu_menu .sm_megamenu_dropdown_4columns, 
.sm_megamenu_wrapper_vertical_menu .sm_megamenu_menu .sm_megamenu_dropdown_5columns, 
.sm_megamenu_wrapper_vertical_menu .sm_megamenu_menu .sm_megamenu_dropdown_6columns, 
.sm_megamenu_wrapper_vertical_menu .sm_megamenu_menu .sm_megamenu_dropdown_fullwidth {    
    padding: 20px 30px !important;
}

/* Block detail product */
.default-style .resp-tabs-list {
    display: flex;
    overflow-x: auto !important;
    white-space: nowrap;
    scrollbar-width: none;
}
.default-style .resp-tabs-list li {    
	width: 100%;
}
/* header */
.header-top{
    height:unset !important;
}
.header-bottom:after {
    width: 100% !important;
	border-radius: 0 !important;
}
.header-mobile .mobile-top {
    background-color: #1b1a41 !important;
}
@media (max-width:1024px){
    .wrap.quicklink {
    display: none;
    }
}
/* BacktoTop */
.back2top{
    bottom: 1% !important;
}