<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
	<event name="sales_order_place_after">
		<observer instance="Fulloop\Orders\Observer\Sales\OrderPlaceAfter" name="fulloop_orders_observer_sales_orderplaceafter_sales_order_place_after"/>
	</event>
	<event name="sales_order_place_before">
		<observer instance="Fulloop\Orders\Observer\Sales\OrderPlaceBefore" name="fulloop_orders_observer_sales_orderplacebefore_sales_order_place_before"/>
	</event>
</config>
